src/main/mule/naveen.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d94b493f-17fa-4acf-9bfe-4b3e2fc8ce08" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="naveenFlow" doc:id="d804c82f-7196-4f95-aa09-d2e670655404" >
		<http:listener doc:name="Listener" doc:id="9beb9c82-561b-49ec-9ab9-03522aae2ef1" config-ref="HTTP_Listener_config" path="/naveen"/>
		<logger level="INFO" doc:name="Logger" doc:id="26b642e4-0410-422c-98e4-629fa0a94dcc" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="abc222e5-da2a-4922-ae4a-380ce1bc1b83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"timeDate" : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
